<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="owl/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://kit.fontawesome.com/b1d3c67516.js" crossorigin="anonymous"></script>
  <title>Мой курс: Что такое звук?</title>
</head>
<body>

<div class="container-fluid text-main">
  <div class="row">
    <div class="col-lg-3 shadow">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="navbar-brand py-5 pl-3" href="index.html">
          <img src="img/VOX.png" height="40" alt="">
        </a>
        <a class="nav-link  d-flex " id="v-pills-courses-tab" data-toggle="pill" href="#v-pills-courses" role="tab" aria-controls="v-pills-courses" aria-selected="true">
          <span class="fa-solid fa-list pt-1 mr-2 icon-alt"></span> <span class="h6 pt-1 font-weight-bold">Список курсов</span>
        </a>
        <a class="nav-link active" id="v-pills-mycourses-tab" data-toggle="pill" href="#v-pills-mycourses" role="tab" aria-controls="v-pills-mycourses" aria-selected="false">
          <span class="fa-solid fa-star pt-1 mr-1 icon-alt"></span> <span class="h6 font-weight-bold pt-1">Мои курсы</span>
        </a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          <span class="fa-solid fa-user pt-1 mr-2 icon-alt"></span> <span class="h6 font-weight-bold pt-1">Мой профиль</span>
        </a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-achievement" role="tab" aria-controls="v-pills-achievement" aria-selected="false">
          <span class="fa-solid fa-trophy pt-1 mr-1 icon-alt"></span> <span class="h6 font-weight-bold pt-1">Достижения</span>
        </a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-certificate" role="tab" aria-controls="v-pills-certificate" aria-selected="false">
          <span class="fa-solid fa-certificate pt-1 mr-2 icon-alt"></span> <span class="h6 font-weight-bold pt-1">Сертификаты</span>
        </a>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row p-0 justify-content-between bg-main">
        <div class="col-lg-2 py-3 px-5 d-flex justify-content-between">
          <a href="" class="link p-3 btn-cab">
            <span class="fa-solid fa-envelope fa-xl icon-pink"></span>
          </a>
          <a href="" class="link p-3 ml-3 btn-cab">
            <span class="fa-solid fa-bell fa-xl icon-pink "></span>
          </a>
          <!--                    <a href="" class="link p-3 ml-3 btn-cab">-->
          <!--                        <span class="fa-solid fa-envelope fa-xl icon-alt"></span>-->
          <!--                    </a>-->
        </div>
        <div class="col-lg-8 d-flex justify-content-center">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск..." aria-label="Search">
            <button class="btn btn-highlight my-2 my-sm-0" type="submit">Найти</button>
          </form>
        </div>
        <div class="col-lg-2 py-3 d-flex b">
          <a data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" class="link d-flex">
                        <span class="p-3 ml-3 btn-cab ">
                            <span class="fa-solid fa-user fa-xl icon-pink "></span>
                        </span>
            <span class="text-white my-auto ml-2">Иван Иванов</span>
          </a>
        </div>
      </div>
      <div class="px-5 mt-5">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade" id="v-pills-courses" role="tabpanel" aria-labelledby="v-pills-courses-tab">
            <h2 class="font-weight-bold">Список курсов</h2>
            <div class="row my-5 px-2 justify-content-center">
              <div class="col-lg-5 mt-3 mx-3 p-5 shadow card">
                <a href="#" class="">
                  <div class="row">
                    <div class="col-lg-8 text-main pt-5">
                      <span class="h4">Что такое звук?</span>
                    </div>
                    <div class="col-lg-4">
                      <img src="img/Volume.png" alt="" class="" width="100">
                    </div>
                  </div>

                  <div class="text-muted d-flex mt-4">
                                        <span>
                                            <span class="fa-solid fa-person-chalkboard pt-1 mr-1 icon-alt"></span> 5 уроков
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-user pt-1 mr-1 icon-alt"></span> 150 студентов
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                                        </span>
                  </div>
                  <p class="mt-2 text-main">В ходе пяти уроков нашего курса вы окунетесь в мир звуковых волн, изучите их физические свойства и узнаете, как они взаимодействуют с нашим слухом.</p>
                </a>
              </div>
              <div class="col-lg-5 mt-3 mx-3 p-5 shadow card">
                <a href="#" class="">
                  <div class="row">
                    <div class="col-lg-8 text-main pt-5">
                      <span class="h4">Основы в Reaper</span>
                    </div>
                    <div class="col-lg-4">
                      <img src="img/reaper.png" alt="" class="" width="100">
                    </div>
                  </div>

                  <div class="text-muted d-flex mt-4">
                                        <span>
                                            <span class="fa-solid fa-person-chalkboard pt-1 mr-1 icon-alt"></span> 10 уроков
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-user pt-1 mr-1 icon-alt"></span> 230 студентов
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                                        </span>
                  </div>
                  <p class="mt-2 text-main">В данном курсе вы изучите основы работы в программном продукте Reaper</p>
                </a>
              </div>
              <div class="col-lg-5 mt-3 mx-3 p-5 shadow card">
                <a href="#" class="">
                  <div class="row">
                    <div class="col-lg-8 text-main pt-5">
                      <span class="h4">Озвучивание</span>
                    </div>
                    <div class="col-lg-4">
                      <img src="img/Voice.png" alt="" class="" width="100">
                    </div>
                  </div>

                  <div class="text-muted d-flex mt-4">
                                        <span>
                                            <span class="fa-solid fa-person-chalkboard pt-1 mr-1 icon-alt"></span> 8 уроков
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-user pt-1 mr-1 icon-alt"></span> 195 студентов
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                                        </span>
                  </div>
                  <p class="mt-2 text-main">В данном курсе вы изучите основы озвучивания сцен в мультфильмах и кино, а также создание атмосферы кадра</p>
                </a>
              </div>
              <div class="col-lg-5 mt-3 mx-3 p-5 shadow card">
                <a href="#" class="">
                  <div class="row">
                    <div class="col-lg-8 text-main pt-5">
                      <span class="h4">Сведение музыки</span>
                    </div>
                    <div class="col-lg-4">
                      <img src="img/song.png" alt="" class="" width="100">
                    </div>
                  </div>

                  <div class="text-muted d-flex mt-4">
                                        <span>
                                            <span class="fa-solid fa-person-chalkboard pt-1 mr-1 icon-alt"></span> 12 уроков
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-user pt-1 mr-1 icon-alt"></span> 280 студентов
                                        </span>
                    <span class="ml-3">
                                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                                        </span>
                  </div>
                  <p class="mt-2 text-main">В данном курсе вы научитесь создавать музыкальные композиции и добиваться качественного звучания</p>
                </a>
              </div>

            </div>
          </div>
          <div class="tab-pane show active fade" id="v-pills-mycourses" role="tabpanel" aria-labelledby="v-pills-mycourses-tab">
            <span class="d-flex">
              <h2 class="font-weight-bold">Что такое звук?</h2>
              <a href="cabinet.html" class="btn btn-highlight mt-1 ml-3"> К списку курсов</a>
            </span>

            <div class="row justify-content-center mt-5 px-5">
              <div class="col card shadow p-4">
                <div class="row">
                  <div class="col-lg-7 text-main pt-4">
                    <div class="progress mb-4">
                      <div class="progress-bar " role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"> 3/5</div>
                    </div>
                    <div class="text-muted d-flex ">
                                        <span>
                                            <span class="fa-solid fa-person-chalkboard pt-1 mr-1 icon-alt"></span> 5 уроков
                                        </span>
                      <span class="ml-3">
                                            <span class="fa-solid fa-user pt-1 mr-1 icon-alt"></span> 150 студентов
                                        </span>
                      <span class="ml-3">
                                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                                        </span>
                    </div>
                    <p class="mt-3">Звук - это неотъемлемая часть нашей жизни, и понимание его основных принципов является ключевым для музыкантов, аудиоинженеров, а также всех, кто интересуется звуком и его влиянием на нашу окружающую среду.
                      <br><br>
                      В ходе пяти уроков нашего курса вы окунетесь в мир звуковых волн, изучите их физические свойства и узнаете, как они взаимодействуют с нашим слухом. Мы рассмотрим основные характеристики звука, такие как частота, амплитуда, длительность и тембр, а также научимся определять их влияние на звуковой материал.
                  </div>
                  <div class="col-lg-4 pl-5">
                    <img src="img/course-icon-big.png" alt="" class="ml-5 img-fluid" >
                  </div>
                </div>
              </div>
            </div>
            <div id="accordion" class="my-5 mx-1 px-4">
              <div class="card mt-2">
                <div class="card-header bg-success shadow" id="lesson1">
                    <div class="d-flex justify-content-between">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#lesson1collapse" aria-expanded="true" aria-controls="lesson1collapse">
                        <span class="h4">Урок 1: Введение в звук</span>
                      </button>
                      <span class="h4 pt-2">
                        Оценка 87/100
                      </span>
                    </div>
                </div>

                <div id="lesson1collapse" class="collapse show" aria-labelledby="lesson1" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row justify-content-around">
                      <div class="col-lg-6 mt-2 p-4 shadow card">
                        <div class="h5">Лекция</div>
                        <div class="mt-2 pl-2">
                          <iframe width="560" height="315" src="https://www.youtube.com/embed/SDno1HI0pAE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                      </div>
                      <div class="col-lg-5 mt-2 p-4 shadow card">
                        <div class="h5">Содержание урока</div>
                        <ul class="mt-2 ">
                          <li>Что такое звук?</li>
                          <li>Основные характеристики звука: частота, амплитуда, длительность, тембр</li>
                          <li>Как звук распространяется и как мы его слышим?</li>
                        </ul>
                      </div>
                    </div>
                    <div class="mt-5 p-4 shadow card">
                      <span class="h5">Задание урока</span>
                      <ol class="mt-2">
                          <li>Ваше первое задание - провести наблюдение и записать звуки, которые вы слышите в течение 10-15 минут. Это может быть в вашей комнате, на улице или в любом другом месте.</li>
                          <li>Запишите, что именно вы слышите, и опишите эти звуки с помощью основных характеристик звука: частота, амплитуда, длительность и тембр. Если вы не знаете точные значения, просто используйте слова, чтобы описать их громкость, высоту, продолжительность и качество звучания.</li>
                          <li>После завершения наблюдения, возьмите лист бумаги или используйте компьютер, чтобы создать таблицу с двумя столбцами: "Звук" и "Характеристики звука".</li>
                          <li>Запишите все звуки, которые вы услышали, в столбце "Звук".</li>
                          <li>В столбце "Характеристики звука" запишите соответствующие характеристики для каждого звука на основе вашего описания.</li>
                          <li>После того, как вы заполнили таблицу, подумайте о том, какие общие закономерности или особенности звуков вы заметили. Например, могли ли вы выделить определенные частоты или амплитуды? Есть ли различия в тембре звуков?</li>
                          <li>Напишите краткий рефлексивный отчет о своих наблюдениях. Обратите внимание на то, как звуки воздействуют на вас и как вы их воспринимаете. Что вы узнали о звуке и его характеристиках через это задание?</li>
                      </ol>
                    </div>
                    <div class="mt-5 p-4 shadow card">
                      <span class="h5">Ваш ответ</span>
                      <div class="file-drop-area mt-2">
                        <span class="choose-file-button">Выберите файл</span>
                        <span class="file-message">или перенесите файл в эту зону</span>
                        <input class="file-input" type="file" multiple>
                      </div>
                      <div class="h6 mt-2 icon-pink" id="file-message"></div>
                      <div id="waveform" class="mt-4 shadow"></div>
                      <div class="mt-2 p-2 d-flex" >
                        <a href="#" class="btn btn-success"> Сохранить</a>
                        <div id="controls"></div>
                        <div class="d-flex ml-2 mt-2">
                          <span class="fa-solid fa-check fa-lg text-success mt-2"></span> - предельный уровень громкости в норме
                        </div>
                        <div class="d-flex ml-2 mt-2">
                          <span class="fa-solid fa-warning fa-lg text-warning mt-2"></span> - <a class="active mr-1">20,9сек </a> большая разница громкости
                        </div>

                      </div>
                    </div>
                    <div class="mt-5 p-4 shadow card">
                      <span class="h5">Оценка</span>
                      <div class="mt-2">
                        <div class="text-muted d-flex ">
                          <span>
                            <span class="fa-solid fa-calendar pt-1 mr-1 icon-alt"></span> 2023-03-24
                          </span>
                          <span class="ml-3 text-success">
                            <span class="fa-solid fa-star pt-1 mr-1"></span> 87/100
                          </span>
                          <span class="ml-3">
                            <span class="fa-solid fa-copyright pt-1 mr-1 icon-alt"></span> Алексей Ширяев
                          </span>
                        </div>
                        <p class="mt-2">
                          Вы продемонстрировали хорошее понимание основных характеристик звука и проявили активность и внимательность в процессе выполнения задания. <br>
                          Хотя большая часть описаний звуков была точной и информативной, я бы хотел отметить, что в некоторых случаях можно было бы добавить немного больше деталей, чтобы более полно передать особенности звука. Например, можно было бы описать тембр звука с помощью аналогии или сравнения с известным звуком или инструментом.
                        </p>
                      </div>

                    </div>

                  </div>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header bg-success shadow" id="lesson2">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#lesson2collapse" aria-expanded="true" aria-controls="lesson2collapse">
                      <span class="h4">Урок 2: Физика звука</span>
                    </button>
                    <span class="h4 pt-2">
                        Оценка 92/100
                      </span>
                  </div>
                </div>

                <div id="lesson2collapse" class="collapse" aria-labelledby="lesson2" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header bg-success shadow" id="lesson3">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#lesson3collapse" aria-expanded="true" aria-controls="lesson3collapse">
                      <span class="h4">Урок 3: Инструменты и техника звукозаписи</span>
                    </button>
                    <span class="h4 pt-2">
                        Оценка 95/100
                      </span>
                  </div>
                </div>

                <div id="lesson3collapse" class="collapse" aria-labelledby="lesson3" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header bg-light shadow" id="lesson4">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link text-main" data-toggle="collapse" data-target="#lesson4collapse" aria-expanded="true" aria-controls="lesson4collapse">
                      <span class="h4">Урок 4: Звук и музыка</span>
                    </button>
                  </div>
                </div>

                <div id="lesson4collapse" class="collapse" aria-labelledby="lesson4" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card mt-2">
                <div class="card-header bg-light shadow" id="lesson5">
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-link text-main" data-toggle="collapse" data-target="#lesson5collapse" aria-expanded="true" aria-controls="lesson5collapse">
                      <span class="h4">Урок 5: Звук в повседневной жизни</span>
                    </button>

                  </div>
                </div>

                <div id="lesson5collapse" class="collapse" aria-labelledby="lesson5" data-parent="#accordion">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2 class="font-weight-bold">Мой профиль</h2>
          </div>
          <div class="tab-pane fade" id="v-pills-achievement" role="tabpanel" aria-labelledby="v-pills-achievement-tab">
            <h2 class="font-weight-bold">Достижения</h2>
          </div>
          <div class="tab-pane fade" id="v-pills-certificate" role="tabpanel" aria-labelledby="v-pills-certificate-tab">
            <h2 class="font-weight-bold">Сертификаты</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container-fluid footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 py-5">
          <img src="img/vox-white.png" class="logo" alt="VOX" width="100px">
          <p class="font-size-xxs text-white mt-3">
            <span class="font-weight-bold mr-1">ИП Ширяев Алексей Владимирович</span><br>
            <span class="font-weight-bold mr-1">ОГРНИП</span> 315618300003871<br>
            <span class="font-weight-bold mr-1">Юр.адрес:</span> ул. Малюгиной д. 276, оф. 11<br>
            <span class="font-weight-bold mr-1">Адрес школы:</span> ул. Города Волос, д. 137<br>
            Ростов-на-Дону, Ростовская область 344000, Россия<br>
          </p>
        </div>
        <div class="col-lg-9">
          <div class="row justify-content-end py-5">
            <div class="col-lg-3 col-md-6 col-12 text-white">
              <div class="h6 text-uppercase">О нас</div>
              <ul class="list-unstyled">
                <li><a href="" class="footer-link-alternative font-size-xs">Главная</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Процесс обучения</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Instagram</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Вконтакте</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12 text-white">
              <div class="h6 text-uppercase">Курсы</div>
              <ul class="list-unstyled">
                <li><a href="" class="footer-link-alternative font-size-xs">Список</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Сертификаты</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Оплата</a></li>

              </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-12 text-white ">
              <div class="h6 text-uppercase">Мы в медиа</div>
              <ul class="list-unstyled">
                <li><a href="" class="footer-link-alternative font-size-xs">Telegram</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">WhatsApp</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Instagram</a></li>
                <li><a href="" class="footer-link-alternative font-size-xs">Вконтакте</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="footer-hr">
      <div class="row justufy-content-between py-3 text-white ">
        <div class="col-sm-6 col-12">
          <div class="copyright font-size-xs mb-1">© 2023 VoxSchool - курсы звукорежиссуры</div>
        </div>
        <div class="col-sm-6 col-12">
          <div class=" font-size-xs text-left text-md-right">Разработка и дизайн mjyarush</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="js/drag_drop.js"></script>
<script src="https://unpkg.com/wavesurfer.js"></script>
<script type="module" src="js/wave_form.js"></script>

</body>
</html>
